<!-- Validation failure messages -->
<% if @accomplishment.errors.any? %>
  <% @accomplishment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Accomplishment #<%= @accomplishment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_accomplishment/<%= @accomplishment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for log_id -->
      <div class="form-group">
        <label for="log_id" class="control-label">
          Log
        </label>

        <%= select_tag(:log_id, options_from_collection_for_select(Log.all, :id, :date, @accomplishment.log_id), :class => "form-control") %>
      </div>

      <!-- Label and input for milestone -->
      <div class="form-group">
        <label for="milestone" class="control-label">
          Milestone
        </label>

        <input type="text" id="milestone" name="milestone" placeholder="Milestone" class="form-control" value="<%= @accomplishment.milestone %>">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="<%= @accomplishment.image_url %>">
      </div>

      <button class="btn btn-warning">
        Update Accomplishment
      </button>
      or
      <a href="/accomplishments/<%= @accomplishment.id %>">Cancel</a>
    </form>
  </div>
</div>
