<div class="page-header">
  <h1>
    Accomplishments
    <a href="/accomplishments/new" class="btn btn-lg btn-success">New Accomplishment</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Log</th>
        <th>Milestone</th>
        <th>Image url</th>
        <th>Actions</th>
      </tr>

      <% @accomplishments.each do |accomplishment| %>
      <tr>
        <td>
          <% if accomplishment.log.present? %>
            <a href="/logs/<%= accomplishment.log.id %>">
              <%= accomplishment.log.date %>
            </a>
          <% end %>
        </td>
        <td><%= accomplishment.milestone %></td>
        <td><%= accomplishment.image_url %></td>
        <td>
          <a href="/accomplishments/<%= accomplishment.id %>" class="btn btn-primary">Show</a>
          <a href="/accomplishments/<%= accomplishment.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_accomplishment/<%= accomplishment.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @accomplishments, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
