<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd><%= @user.email %></dd>

      <dt>Password</dt>
      <dd><%= @user.password %></dd>

      <dt>Username</dt>
      <dd><%= @user.username %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
    </div>
  </div>
</div>

<!-- A User has many habits -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Habits
      </li>

      <% @user.habits.each do |habit| %>
        <li class="list-group-item">
          <a href="/habits/<%= habit.id %>">
            <%= habit.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/habits/<%= habit.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <%if current_user == habit.user %>
              <a href="/habits/<%= habit.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>
              <a href="/delete_habit/<%= habit.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A User has many aspirations -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Aspirations
      </li>

      <% @user.aspirations.each do |aspiration| %>
        <li class="list-group-item">
          <a href="/aspirations/<%= aspiration.id %>">
            <%= aspiration.name %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/aspirations/<%= aspiration.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/aspirations/<%= aspiration.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_aspiration/<%= aspiration.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
