<div class="page-header">
  <h3>Aspiration #<%= @aspiration.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @aspiration.name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/aspirations" class="btn btn-primary">
        Back
      </a>
      <a href="/aspirations/<%= @aspiration.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_aspiration/<%= @aspiration.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Aspiration has many habits -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Habits
      </li>

      <% @aspiration.habits.each do |habit| %>
        <li class="list-group-item">
          <a href="/habits/<%= habit.id %>">
            <%= habit.user_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/habits/<%= habit.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/habits/<%= habit.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_habit/<%= habit.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_habit" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for aspiration_id -->
      <input type="hidden" name="aspiration_id" value="<%= @aspiration.id %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="">
      </div>

      <!-- Label and input for goal -->
      <div class="form-group">
        <label for="goal" class="control-label">
          Goal
        </label>

        <input type="text" id="goal" name="goal" placeholder="Goal" class="form-control" value="">
      </div>

      <!-- Label and input for days_per_week -->
      <div class="form-group">
        <label for="days_per_week" class="control-label">
          Days per week
        </label>

        <input type="text" id="days_per_week" name="days_per_week" placeholder="Days per week" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Habit
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>

<!-- A Aspiration has many users -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Users
      </li>

      <% @aspiration.users.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.email %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/users/<%= user.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/users/<%= user.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_user/<%= user.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
