<!-- Validation failure messages -->
<% if @log.errors.any? %>
  <% @log.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Log</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_log" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="<%= @log.date %>">
      </div>

      <!-- Label and input for time_of_day -->
      <div class="form-group">
        <label for="time_of_day" class="control-label">
          Time of day
        </label>

        <input type="text" id="time_of_day" name="time_of_day" placeholder="Time of day" class="form-control" value="<%= @log.time_of_day %>">
      </div>

      <!-- Label and input for motivation_level -->
      <div class="form-group">
        <label for="motivation_level" class="control-label">
          Motivation level
        </label>

        <input type="text" id="motivation_level" name="motivation_level" placeholder="Motivation level" class="form-control" value="<%= @log.motivation_level %>">
      </div>

      <!-- Label and input for rating_of_the_day -->
      <div class="form-group">
        <label for="rating_of_the_day" class="control-label">
          Rating of the day
        </label>

        <input type="text" id="rating_of_the_day" name="rating_of_the_day" placeholder="Rating of the day" class="form-control" value="<%= @log.rating_of_the_day %>">
      </div>

      <!-- Label and input for habit_id -->
      <div class="form-group">
        <label for="habit_id" class="control-label">
          Habit
        </label>

        <%= select_tag(:habit_id, options_from_collection_for_select(Habit.all, :id, :user_id, @log.habit_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Log
      </button>
      or
      <a href="/logs">Cancel</a>
    </form>
  </div>
</div>
