<div class="page-header">
  <h3>Log #<%= @log.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Date</dt>
      <dd><%= @log.date %></dd>

      <dt>Time of day</dt>
      <dd><%= @log.time_of_day %></dd>

      <dt>Motivation level</dt>
      <dd><%= @log.motivation_level %></dd>

      <dt>Rating of the day</dt>
      <dd><%= @log.rating_of_the_day %></dd>

      <dt>Habit</dt>
      <dd>
        <% if @log.habit.present? %>
          <a href="/habits/<%= @log.habit_id %>">
            <%= @log.habit.user_id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/logs" class="btn btn-primary">
        Back
      </a>
      <a href="/logs/<%= @log.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_log/<%= @log.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Log has many accomplishments -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Accomplishments
      </li>

      <% @log.accomplishments.each do |accomplishment| %>
        <li class="list-group-item">
          <a href="/accomplishments/<%= accomplishment.id %>">
            <%= accomplishment.log_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/accomplishments/<%= accomplishment.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/accomplishments/<%= accomplishment.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_accomplishment/<%= accomplishment.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_accomplishment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for log_id -->
      <input type="hidden" name="log_id" value="<%= @log.id %>">

      <!-- Label and input for milestone -->
      <div class="form-group">
        <label for="milestone" class="control-label">
          Milestone
        </label>

        <input type="text" id="milestone" name="milestone" placeholder="Milestone" class="form-control" value="">
      </div>

      <!-- Label and input for image_url -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image url
        </label>

        <input type="text" id="image_url" name="image_url" placeholder="Image url" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Accomplishment
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
