<div class="page-header">
  <h3>Habit #<%= @habit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd><%= @habit.user_id %></dd>

      <dt>Aspiration</dt>
      <dd><%= @habit.aspiration_id %></dd>

      <dt>Name</dt>
      <dd><%= @habit.name %></dd>

      <dt>Goal</dt>
      <dd><%= @habit.goal %></dd>

      <dt>Days per week</dt>
      <dd><%= @habit.days_per_week %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/habits" class="btn btn-primary">
        Back
      </a>
      <a href="/habits/<%= @habit.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_habit/<%= @habit.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Habit has many logs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Logs
      </li>

      <% @habit.logs.each do |log| %>
        <li class="list-group-item">
          <a href="/logs/<%= log.id %>">
            <%= log.date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/logs/<%= log.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/logs/<%= log.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_log/<%= log.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
