<div class="page-header">
  <h3>Habit #<%= @habit.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>User</dt>
      <dd>
        <% if @habit.user.present? %>
          <a href="/users/<%= @habit.user_id %>">
            <%= @habit.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>Aspiration</dt>
      <dd>
        <% if @habit.aspiration.present? %>
          <a href="/aspirations/<%= @habit.aspiration_id %>">
            <%= @habit.aspiration.name %>
          </a>
        <% end %>
      </dd>

      <dt>Name</dt>
      <dd><%= @habit.name %></dd>

      <dt>Goal</dt>
      <dd><%= @habit.goal %></dd>

      <dt>Days per week</dt>
      <dd><%= @habit.days_per_week %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/habits" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @habit.user %>
        <a href="/habits/<%= @habit.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_habit/<%= @habit.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>

<!-- A Habit has many logs -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Logs
      </li>

      <% @habit.logs.each do |log| %>
        <li class="list-group-item">
          <a href="/logs/<%= log.id %>">
            <%= log.date %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/logs/<%= log.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/logs/<%= log.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_log/<%= log.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_log" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Date
        </label>

        <input type="text" id="date" name="date" placeholder="Date" class="form-control" value="">
      </div>

      <!-- Label and input for time_of_day -->
      <div class="form-group">
        <label for="time_of_day" class="control-label">
          Time of day
        </label>

        <input type="text" id="time_of_day" name="time_of_day" placeholder="Time of day" class="form-control" value="">
      </div>

      <!-- Label and input for motivation_level -->
      <div class="form-group">
        <label for="motivation_level" class="control-label">
          Motivation level
        </label>

        <input type="text" id="motivation_level" name="motivation_level" placeholder="Motivation level" class="form-control" value="">
      </div>

      <!-- Label and input for rating_of_the_day -->
      <div class="form-group">
        <label for="rating_of_the_day" class="control-label">
          Rating of the day
        </label>

        <input type="text" id="rating_of_the_day" name="rating_of_the_day" placeholder="Rating of the day" class="form-control" value="">
      </div>

      <!-- Label and input for habit_id -->
      <input type="hidden" name="habit_id" value="<%= @habit.id %>">

      <button class="btn btn-block btn-success">
        Create Log
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
